.groupRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	padding: 12px 10px;
	border-bottom: 1px solid rgb(235, 235, 235);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.groupRow:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

.groupRow__left {
	display: flex;
	align-items: center;
}

.groupRow__left img {
	height: 40px;
	width: 50px;
	object-fit: cover;
	margin-right: 10px;
	border-radius: 10px;
}

.groupRow__left p {
	font-weight: 700;
	font-size: 17px;
	color: rgb(88, 88, 88);
}

.groupRow__arrowIcon {
	color: rgb(148, 147, 147);
}
