.newsCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    padding: 10px 0;
    min-width: 100%;
}

.newsCard__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
}

.newsCard__thumbnail{
    /* display: flex;
    align-items: center;
    justify-content: ; */
    height: 170px;
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
}

.newsCard__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0 25px ;
}

.newsCard__infoTop {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.newsCard__infoTop p{
    color: rgb(97, 96, 96);
}

.newsCard__infoTopNewsSource{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.newsCard__infoTopNewsSource{
    color: rgb(97, 96, 96);
    font-size: 15px;
}

.newsCard__infoTopNewsSource img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.newsCard__infoTitle{
    margin-top: 6px;
    /* font-weight: 500; */
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.newsCard__bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    /* margin-top: -10px; */
}

.newsCard__bottomLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.playBtn{
    position: relative;
    top: 55px;
    left: 140px;
    right: 140px;
    cursor: pointer;
    z-index: 10;
}

.playBtnIcon{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px !important;
    right: 0;
    color: white !important;
    background-color: rgb(49, 48, 48);
    border-radius: 50%;
}

.controllers{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.controllers__input{
    height: 40px !important;
    width: 100%;
}

@media screen and (max-width: 411px) {
    .playBtnIcon {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 60px !important;
        right: 0;
        color: white !important;
        background-color: rgb(32, 47, 70);
        border-radius: 50%;
    }
    .playBtn {
        position: relative;
        top: 55px;
        left: 110px;
        right: 110px;
        cursor: pointer;
        z-index: 100;
    }
}